openapi: "3.0.3"
info:
  title: Web Alive Monitoring API
  description: |
    IoT欠測検知Web死活監視システムのREST API。
    URL更新チェックおよびCloudWatchログ監視の設定・結果・通知を管理する。
  version: "1.0.0"
  contact:
    name: OSASI Technos
servers:
  - url: https://api-web-alive.osasi-cloud.com
    description: 本番環境
  - url: https://api-web-alive-dev.osasi-cloud.com
    description: 検証環境

security:
  - CognitoAuth: []

paths:
  /sites:
    get:
      summary: 監視サイト一覧取得
      operationId: getSites
      tags: [Sites]
      parameters:
        - name: filter
          in: query
          schema:
            type: string
            enum: [mine]
          description: "mine を指定すると、自分が登録したサイトのみ返す"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Site"
    post:
      summary: 監視サイト登録
      operationId: createSite
      tags: [Sites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteInput"
      responses:
        "201":
          description: 作成成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"

  /sites/{site_id}:
    parameters:
      - $ref: "#/components/parameters/SiteId"
    get:
      summary: 監視サイト詳細取得
      operationId: getSite
      tags: [Sites]
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Site"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: 監視サイト更新
      operationId: updateSite
      tags: [Sites]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteInput"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Site"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: 監視サイト削除
      operationId: deleteSite
      tags: [Sites]
      responses:
        "200":
          description: 削除成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /sites/{site_id}/results:
    parameters:
      - $ref: "#/components/parameters/SiteId"
    get:
      summary: チェック結果一覧取得
      operationId: getSiteResults
      tags: [Results]
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/CheckResult"

  /sites/{site_id}/status-changes:
    parameters:
      - $ref: "#/components/parameters/SiteId"
    get:
      summary: 状態変化履歴取得
      operationId: getSiteStatusChanges
      tags: [Results]
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StatusChange"

  /sites/{site_id}/notifications:
    parameters:
      - $ref: "#/components/parameters/SiteId"
    get:
      summary: 通知設定一覧取得
      operationId: getNotifications
      tags: [Notifications]
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Notification"
    post:
      summary: 通知設定追加
      operationId: createNotification
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationInput"
      responses:
        "201":
          description: 作成成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Notification"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /sites/{site_id}/notifications/{notification_id}:
    parameters:
      - $ref: "#/components/parameters/SiteId"
      - $ref: "#/components/parameters/NotificationId"
    put:
      summary: 通知設定更新
      operationId: updateNotification
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationInput"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Notification"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: 通知設定削除
      operationId: deleteNotification
      tags: [Notifications]
      responses:
        "200":
          description: 削除成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
        "404":
          $ref: "#/components/responses/NotFound"

  /sites/{site_id}/test-check:
    parameters:
      - $ref: "#/components/parameters/SiteId"
    post:
      summary: 手動チェック実行（テスト用）
      operationId: testCheck
      tags: [Test]
      description: 対象サイトの checker Lambda を同期Invokeし、即座にチェック結果を返す。
      responses:
        "200":
          description: チェック結果
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        description: checker Lambda の出力
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /sites/{site_id}/test-notify:
    parameters:
      - $ref: "#/components/parameters/SiteId"
    post:
      summary: テスト通知送信
      operationId: testNotify
      tags: [Test]
      description: 対象サイトに設定された全通知先にテストメッセージを送信する。
      responses:
        "200":
          description: 送信結果
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                destination:
                                  type: string
                                status:
                                  type: string
                                  enum: [sent, failed]
                                error:
                                  type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /cloudwatch/log-groups:
    get:
      summary: CWロググループ一覧取得
      operationId: getCloudWatchLogGroups
      tags: [CloudWatch]
      description: AWSアカウント内のCloudWatchロググループ一覧をLambda経由で取得する。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            logGroupName:
                              type: string
                            storedBytes:
                              type: integer
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    CognitoAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Cognito User Pool の ID Token を `Bearer <token>` 形式で送信する。
        API Gateway の Cognito Authorizer で検証される。

  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: 監視サイトID
    NotificationId:
      name: notification_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: 通知設定ID

  schemas:
    SuccessEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          description: レスポンスデータ
        error:
          type: string
          nullable: true
          example: null

    ErrorEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: false
        data:
          nullable: true
          example: null
        error:
          type: string
          example: "エラーメッセージ"

    Site:
      type: object
      required: [site_id, site_name, monitor_type, targets, schedule_start, schedule_interval_minutes, consecutive_threshold, enabled]
      properties:
        site_id:
          type: string
          format: uuid
        site_name:
          type: string
          maxLength: 200
          example: "○○ダム"
        monitor_type:
          type: string
          enum: [url_check, cloudwatch_log]
        targets:
          type: array
          minItems: 1
          items:
            oneOf:
              - $ref: "#/components/schemas/UrlTarget"
              - $ref: "#/components/schemas/CloudWatchLogTarget"
        schedule_start:
          type: string
          pattern: "^\\d{2}:\\d{2}$"
          example: "00:20"
        schedule_interval_minutes:
          type: integer
          enum: [5, 10, 15, 30, 60, 180, 360, 720, 1440]
        consecutive_threshold:
          type: integer
          minimum: 1
          example: 3
        enabled:
          type: boolean
        scheduler_arn:
          type: string
        last_check_status:
          type: string
          nullable: true
          enum: [updated, not_updated, error]
        last_checked_at:
          type: string
          nullable: true
          format: date-time
        consecutive_miss_count:
          type: integer
        created_by:
          type: string
          format: email
        updated_by:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SiteInput:
      type: object
      required: [site_name, monitor_type, targets, schedule_start, schedule_interval_minutes]
      properties:
        site_name:
          type: string
          maxLength: 200
        monitor_type:
          type: string
          enum: [url_check, cloudwatch_log]
        targets:
          type: array
          minItems: 1
          items:
            oneOf:
              - $ref: "#/components/schemas/UrlTarget"
              - $ref: "#/components/schemas/CloudWatchLogTarget"
        schedule_start:
          type: string
          pattern: "^\\d{2}:\\d{2}$"
        schedule_interval_minutes:
          type: integer
          enum: [5, 10, 15, 30, 60, 180, 360, 720, 1440]
        consecutive_threshold:
          type: integer
          minimum: 1
          default: 3
        enabled:
          type: boolean
          default: true

    UrlTarget:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          example: "https://example.com/dam/latest.png"

    CloudWatchLogTarget:
      type: object
      required: [log_group, search_period_minutes]
      properties:
        log_group:
          type: string
          example: "DataTransferSystem2-OsBoard-Function1"
        message_filter:
          type: string
          example: "リクエストを送信します。"
        json_search_word:
          type: string
          example: '"account": "10206721"'
        search_period_minutes:
          type: integer
          minimum: 1
          example: 60

    CheckResult:
      type: object
      properties:
        site_id:
          type: string
          format: uuid
        "checked_at#target_url":
          type: string
          description: "チェック日時#対象URL（複合ソートキー）"
        status:
          type: string
          enum: [updated, not_updated, error]
        last_modified:
          type: string
        etag:
          type: string
        content_hash:
          type: string
        consecutive_miss_count:
          type: integer

    StatusChange:
      type: object
      properties:
        site_id:
          type: string
          format: uuid
        changed_at:
          type: string
          format: date-time
        previous_status:
          type: string
          enum: [updated, not_updated, error]
        new_status:
          type: string
          enum: [updated, not_updated, error]
        trigger_url:
          type: string

    Notification:
      type: object
      properties:
        site_id:
          type: string
          format: uuid
        notification_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [email, slack]
        destination:
          type: string
          description: "メールアドレス or SSM Parameter名"
        mention:
          type: string
          description: "Slackメンション先（@channel等）"
        message_template:
          type: string
        enabled:
          type: boolean

    NotificationInput:
      type: object
      required: [type, destination]
      properties:
        type:
          type: string
          enum: [email, slack]
        destination:
          type: string
        mention:
          type: string
          default: ""
        message_template:
          type: string
          default: ""
        enabled:
          type: boolean
          default: true

  responses:
    BadRequest:
      description: リクエスト不正
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: リソースが見つからない
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Forbidden:
      description: 権限なし（作成者以外による操作）
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    InternalError:
      description: サーバーエラー
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

tags:
  - name: Sites
    description: 監視サイトの管理
  - name: Results
    description: チェック結果・状態変化履歴
  - name: Notifications
    description: 通知設定の管理
  - name: Test
    description: テスト実行（手動チェック・テスト通知）
  - name: CloudWatch
    description: CloudWatch関連操作
